
        
            

         
<div class="container">
 

  <!--Carrousel Starts-->
 <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/Eestudiantes.jpg" class=" d-block w-100" height="75%" width="75%" alt="...">

        <div class="container">
          <div class="carousel-caption text-start">
            
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
 


  <!--Finish Carrousel-->


  <div class="px-4 py-5 my-5 text-center">
    
    <h1 class="display-5 fw-bold letter">Bienvenidos a Conin</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 letter">Somos una empresa que se preocupa por enseñar y suplir los conocimientos que el mercado laboral necesita.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

        <!-- 
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Descargar</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Cursos</button>
        -->
        
      </div>
    </div>
  </div>
  
  
    
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img  class="card-img"  src="/img/Amazon Web Services AWS-03.jpg" alt="" class="">
    
                <div class="card-body">
                  <p class="card-text">Curso de Amazon Web Services (AWS)</p>
                  <div class=" justify-content-between ">
                    <div class="d-grid gap-2">
                      <a href="/FORMULARIO DE INSCRIPCION (17).docx" download="Formulario.docx" class="btn btn-sm btn-outline-secondary" >Descargar Formulario</a>
                      
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img  class="card-img" src="/img/C Share 2023 2.jpg"alt="" class="">
    
                <div class="card-body">
                  <p class="card-text">Curso de C# 9(Basico Y Avanzado)</p>
                  <div class=" justify-content-between ">
                    <div class="d-grid gap-2">
                      <a href="/FORMULARIO DE INSCRIPCION (17).docx" download="Formulario.docx" class="btn btn-sm btn-outline-secondary" >Descargar Formulario</a>
                      
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card shadow-sm">
                <img class="card-img"  src="/img/Aplicaciones Moviles-02.jpg" alt="" class="">
    
                <div class="card-body">
                  <p class="card-text">Curso de Aplicaciones Moviles</p>
                  <div class=" justify-content-between ">
                    <div class="d-grid gap-2">
                      <a href="/FORMULARIO DE INSCRIPCION (17).docx" download="Formulario.docx" class="btn btn-sm btn-outline-secondary" >Descargar Formulario</a>
                      
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

          
       </div> 
  
  
      
  
 

      
      <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
      <script src="https://kit.fontawesome.com/40751fa63f.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.8/glider.js"></script>
      <script src="/js/swipper.js"></script>
