<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/courses/add " method="post">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="nombre_curso" id="" placeholder="nombre del curso" autofocus>
                        </div>
                        
                        <div class="mb-3">
                            <textarea name="decripcion" class="form-control" placeholder="descripcion del curso"  rows="3"></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <input type="text" class="form-control" name="maestro" placeholder="maestro">
                        </div>
                        
                        <div class="mb-3">
                            <input type="text" class="form-control" name="duracion" placeholder="duracion del curso">

                        </div>
                        


                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Crear</button>
                        </div>
                        
                        
                    
                    
                    
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
</div>