  <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Conin Control</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/signin">Home</a>
          </li>
          {{#if user}}
           
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Cursos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/add">Añadir Curso</a></li>
              <li><a class="dropdown-item" href="/courses">Listado de cursos</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
              <a href="/profile" class="nav-link">Profile</a>
          </li>

          <li class="nav-item">
              <a href="/logout" class="nav-link">logout</a>
          </li>
          {{/if}}
          
          
        </ul>
        <!--
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        -->
      </div>
    </div>
  </nav>


   